<script lang="ts">
    import type { PageData } from "./$types";

    export let data: PageData;
</script>

{#each data.articles as article}
    <section
        class="border-b-2 border-white/20 border-dashed last:border-b-0 py-10"
    >
        <span
            role="heading"
            class="block mb-4 uppercase text-2xl bg-none text-left"
        >
            <a
                sveltekit:prefetch
                href={article.link}
                class="hover:text-[#fd9f23] transition-colors duration-300"
            >
                {article.title}
            </a>
        </span>
        <div>{@html article.summary}</div>
        <a sveltekit:prefetch href={article.link} class="link-generic">
            Читать далее...
        </a>
    </section>
{/each}
