<script lang="ts">
  import type { PageData } from "./$types";

  import Album from "../_components/Album.svelte";
  import Head from "../_components/Head.svelte";

  export let data: PageData;
</script>

<Head metadata={data.metadata} />

{#if data.metadata.album}
  <Album album={data.metadata.album} />
{/if}

{@html data.content}
