<script type="ts">
    import type { MarkdownContentPageMetadata } from "$lib/types";

    export let metadata: MarkdownContentPageMetadata;

    const formatLdSchema = (schema: Record<string, any>) => {
        // split line, otherwise it confuses autoformatter
        return (
            `<sc` +
            `ript type="application/ld+json">${JSON.stringify(schema)}</sc` +
            `ript>`
        );
    };
</script>

<svelte:head>
    <title>{metadata.title}</title>

    <meta name="description" content={metadata.description} />

    {#if metadata.image}
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="og:image" content={metadata.image} />
    {:else}
        <meta name="twitter:card" content="summary" />
    {/if}

    {#if metadata.twitterTitle}
        <meta name="twitter:title" content={metadata.twitterTitle} />
    {/if}

    {#if metadata.twitterDescription}
        <meta
            name="twitter:description"
            content={metadata.twitterDescription}
        />
    {/if}

    {#if metadata.schema}
        {@html formatLdSchema(metadata.schema)}
    {/if}
</svelte:head>
