<script lang="ts">
    import { page } from "$app/stores";

    export let href: string;
    export let title: string = null;
    const external = href.startsWith("http://") || href.startsWith("https://");
</script>

<a
    sveltekit:prefetch={external ? undefined : true}
    sveltekit:noscroll
    {href}
    {title}
    rel={external ? "external" : ""}
    target={external ? "_blank" : null}
    class:active={$page.url.pathname === href}
>
    <slot />
</a>

<style lang="postcss">
    a {
        @apply block text-center py-2 uppercase;
        text-shadow: 1px 1px 2px #00000099, 0px 0px 3px #ff5a00,
            0px 0px 6px #ffa370;
    }

    .active {
        @apply underline underline-offset-2 decoration-2;
    }
</style>
