<script lang="ts">
    export let value: string | string[] | null = null;
    export let nomobile = false;
</script>

<td class="p-2 md:align-top {nomobile ? 'hidden md:table-cell' : ''}">
    {#if Object.prototype.toString.call(value) === "[object Array]"}
        {#if value.length}
            {#each value as el, i}
                <span class="md:whitespace-nowrap">
                    {el}</span
                >{#if i !== value.length - 1}, <br
                        class="hidden md:inline"
                    />{/if}
            {/each}
        {:else}
            <span class="text-stone-700">-</span>
        {/if}
    {:else if value !== null}
        {value}
    {:else}
        <slot />
    {/if}
</td>
