<script lang="ts">
    import type { PageData } from "./$types";

    import Head from "../../_components/Head.svelte";

    export let data: PageData;
</script>

<Head metadata={data.metadata} />

<span
    role="heading"
    class="block mt-2 mb-4 uppercase text-2xl bg-none text-left"
>
    {data.metadata.title}
</span>

<div class="text-left">
    <i>Дата публикации: {data.metadata.date}</i>

    {@html data.content}
</div>
