<script lang="ts">
    import Icon from "mdi-svelte";
    import { mdiCloseCircle } from "@mdi/js";
    import { fly, fade } from "svelte/transition";

    export let show: boolean;
</script>

{#if show}
    <div
        transition:fade={{ duration: 150 }}
        class="absolute inset-0 z-50 flex flex-col justify-center bg-black/60"
        on:click={() => {
            show = false;
        }}
        role="dialog"
        aria-modal="true"
        tabindex="-1"
    >
        <div
            transition:fly={{ y: 10, duration: 300 }}
            class="relative w-11/12 md:w-9/12 lg:w-8/12 xl:w-7/12 max-w-full max-h-full
            overflow-hidden mx-auto
            rounded bg-lcl-700/70 backdrop-blur text-white text-shadow"
            on:click|stopPropagation
            role="document"
        >
            <button
                type="button"
                class="absolute top-4 right-4 w-6 h-6 border-none
                outline-none focus:outline-none focus:text-yellow-300"
                on:click={() => {
                    show = false;
                }}
                aria-label="Close this dialog window"
            >
                <Icon size={1} path={mdiCloseCircle} />
            </button>
            <div class="overflow-auto p-4 md:p-8 max-h-[calc(100vh-4rem)]">
                <slot />
            </div>
        </div>
    </div>
{/if}
