@import "@fontsource/inter/variable.css";

@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

#content h2, #content h3 {
	@apply font-medium uppercase;
}

#content h2 {
	@apply bg-[#F60] text-white tracking-wide mt-6 mb-4 p-2 text-center rounded-sm leading-4;
	text-shadow: 0px 0px 3px #200c20;
}

#content h3 {
	@apply mt-3.5 mb-0 uppercase leading-relaxed;
}

#content h3 .normal {
	@apply font-normal normal-case;
}

#content .row {
	@apply block md:flex md:flex-row;
}

#content .albumcover p {
	@apply mt-2;
}

#content .albumcover p,
#content .albumdescription p {
	@apply my-1;
}

#content .albumblock .albumdescription h4 {
	@apply my-5;
}

#content .albumcover img {
	@apply m-0;
}

#content .albumcover,
#content .photocol {
	@apply flex-1 md:pr-5;
}

#content .albumcover-small {
	@apply flex-none md:mr-5 w-full md:w-64 max-w-full md:max-w-min;
}

#content .albumcover img,
#content .photocol img {
	@apply max-w-full w-full md:w-auto md:max-w-max rounded-sm;
}

#content .col,
#content .albumdescription {
	@apply flex-grow;
}

#content .albumblock {
	@apply block md:flex md:flex-row mb-12;
}

#content .albumblock img {
	@apply rounded-sm shadow shadow-black/30 md:my-5;
}

#content .albumdescription p:last-child {
	@apply mb-0;
}

#content .albumcover ul,
#content .albumdescription ul {
	@apply mt-0 p-0 list-none;
}

#content .albumcover ol,
#content .albumdescription ol {
	@apply mt-0;
}

#content .albumcover ol > li,
#content .albumdescription ol > li {
	@apply my-0;
}

#content .albumcover ul > li::before,
#content .albumdescription ul > li::before {
	@apply hidden;
}

#content .albumcover ul > li,
#content .albumdescription ul > li {
	@apply pl-0 my-0;
}

#content .floatblock {
	@apply md:float-left md:clear-left;
}

#content .floatblock p,
#content .floatblock-wider p {
	@apply m-0;
}

#content .floatblock img {
	@apply md:mt-0.5 md:mr-5 md:mb-0.5 w-[250px];
}

#content .floatblock-wider {
	@apply md:float-left md:clear-left md:mr-4;
}

#content .floatblock-wider img {
	@apply mb-2 mt-1;
}

#content .bandcamp-wrapper {
	margin: 10px 0;
}

@media (min-width:769px) {
	/* hacky workaround for desktop limited width of bandcamp iframe content */
	.bandcamp-wrapper {
		background: #303030;
		border: 1px solid rgba(255, 255, 255, 0.15);
	}

	.bandcamp-wrapper iframe {
		margin: -1px;
		display: block;
	}
}

.youtube-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#content .playme {
	@apply relative flex justify-center items-center;
}

#content .playme::after {
	@apply text-white text-9xl absolute left-0 right-0 text-center animate-pulse;
	content: "\25B6";
	font-family: Arial;
}

.prose a.link-generic {
    @apply text-[#ff950c] hover:text-[#fd9f23] no-underline hover:underline;
}

/* external website icon */
#content a.link-generic[href^="http://"]:after, 
#content a.link-generic[href^="https://"]:after {
	content: '';
	background: no-repeat url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><g style="stroke:%23ff950c;stroke-width:2"><line x1="5" y1="5" x2="5" y2="14" /><line x1="14" y1="9" x2="14" y2="14" /><line x1="5" y1="14" x2="14" y2="14" /><line x1="5" y1="5" x2="9" y2="5" /><line x1="10" y1="2" x2="17" y2="2" /><line x1="17" y1="2" x2="17" y2="9" /><line x1="10" y1="9" x2="17" y2="2" style="stroke-width:2" /></g></svg>');
	padding-right: 1em;
}

.prose ol {
    @apply list-decimal pl-[1.625em];
}

.prose-sm ol {
    @apply pl-[1.5714286em];
}
