<script lang="ts">
    import type { PageData } from "./$types";

    import Head from "../../_components/Head.svelte";

    export let data: PageData;
</script>

<Head metadata={data.metadata} />

{@html data.content}
